<html>

<head>
    <title>chat UI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="">
    <link href="../css/chat.css" rel="stylesheet">
    <link href="../css/public.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/animate.min.css" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div class='box' id='app' v-on:keyup.esc="ws_close()">
        <div class="leftbar">
            <ul class='fex-column cx-fex-r ' style='height: 100%;'>
                <li data-type='friends'><i class="el-icon-user"></i></li>
                <li data-type='groups'><i class="el-icon-chat-dot-round"></i></li>
                <li><i class="el-icon-date"></i></li>
                <li><i class="el-icon-suitcase"></i></li>
                <li><i class="el-icon-attract"></i></li>
                <li><i class="el-icon-odometer"></i></li>
                <li class='bottom-icon'><i class="el-icon-switch-button"></i></li>
            </ul>
        </div>
        <!--        <el-dialog title="登录认证" :visible.sync="dialogFormVisible" :center='true' >
            <el-form :model="form">
                <el-form-item label="昵称" :label-width="formLabelWidth">
                    <el-input v-model="chat_user.uname" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="ID" :label-width="formLabelWidth">
                    <el-select v-model="chat_user.uid" placeholder="请选择用户ID" >
                        <el-option :label="item.uid" :value="item.uid" v-for='(item,index) in friends_list'
                            :key='index'>
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancelLogin">取 消</el-button>
                <el-button type="primary" @click="okLogin">确 定</el-button>
            </div>
        </el-dialog> -->
        <div class="container layout cx-fex-c fex-items-c">
            <div class='chat-box xl8 fex-column cx-fex animate__animated'>
                <div class='chat-top-menu cx-fex fex-items-c cx-fex-nowrap'>
                    <div class='cx-fex-l xl4 pos-r'>
                        <input type="text" class="search-ipt" v-model='searchValue' @input='searchFriend()'
                            placeholder="搜索、查找好友">
                        <button class='search-btn t-c' @click='searchFriend()'><i class='el-icon-search'></i></button>
                        <ul class='fex-column  cx-fex-l searchBox ' v-show='searchListShow'>
                            <li class="cx-fex-l layout pad-a5 pad-l10 b-b"  v-for="(item,index) in searchList"
                                :key='index' @click=changeReceiver(item) >
                                <div class="self-img-box">
                                    <el-avatar >{{item.uname.substr(0,1).toUpperCase()}}</el-avatar>
                                </div>
                                <div class='fex-column jus-cnt-spb pad-l15 cx-fex'>
                                    <span class='t-14 t-gray '>
                                        {{item.uname}}
                                    </span>
                                    <span class='t-14 t-blue '>
                                        {{item.uid}}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <span class='chat-title t-18 xl4 cx-fex-c'>
                        {{chat_friend.uname}}
                    </span>
                    <div class='chat-top-self cx-fex-c xl3 fex-items-c '>
                        <button @click="changeUser()" class="button button-S mr-15 hidden">切换用户</button>
                        <div class="self-img-box">
          <!--                   <img :src="chat_user.uimg" alt=""> -->
                            <el-avatar >{{chat_user.uname.substr(0,1).toUpperCase()}}</el-avatar>
                        </div>
                        <p class='t-14 t-gray pad-l10'>
                            {{chat_user.uname}}
                        </p>
                    </div>
                    <div class='xl1 cx-fex-c close-btn'>
                        <i class="el-icon-close pointer" @click="ws_close()"></i>
                    </div>
                </div>
                <div class='layout cx-fex-l chat-main-box cx-fex-nowrap'>
                    <ul class='friends-list xl4 fex-column cx-fex-l  cx-fex-nowrap' id='friends-list'>
                        <li class='layout friends-li cx-fex-l fex-items-c cx-fex-nowrap' v-for="(item,index) in friends_list"
                            :key='index' @click=changeReceiver(item) >
                            <div class="self-img-box ">
                                <el-avatar>{{item.uname.substr(0,1).toUpperCase()}}</el-avatar>
                            </div>
                            <div class='fex-column jus-cnt-spb pad-l15 cx-fex xl7'>
                                <span class='t-14 t-gray '>
                                    {{item.uname}}
                                </span>
                                <span class='t-14 t-blue'>
                                    {{item.uid}}
                                </span>
                            </div>
                            <div class='unreadNum  t-c' v-show='item.unread>0'>
                                {{item.unread}}
                            </div>
                        </li>
                    </ul>
                    <div class='fex-column cx-fex-l layout'>
                        <ul class='chat-record layout fex-column' id='recordList'>
                            <li v-for="(item,index) in chat_record[chat_friend.uid]" :key="index"
                                :class="[item.uid==chat_friend.uid? left_record:right_record]">
                                <span class="self-img-box">
                                    <el-avatar>{{item.uname.substr(0,1).toUpperCase()}}</el-avatar>
                                </span>
                                <span class='record-content'>
                                    {{item.msg}}
                                </span>
                                <div class='send_time'>{{item.send_time}}</div>
                            </li>
                        </ul>
                        <ul class='tool_bar layout cx-fex-l '>
                            <li><i class='el-icon-toilet-paper'></i></li>
                            <li><i class='el-icon-microphone'></i></li>
                            <li><i class='el-icon-close-notification'></i></li>
                        </ul>
                        <div class='layout fex-column cx-fex-l fex-items-e chat-text-box'>
                            <textarea name="chat-content" cols="30" rows="7" id='content' class="layout chat-text"
                                v-model="send_msg" v-on:keyup.enter="ws_send()">
                        </textarea>
                            <div class='cx-fex-r mt-15'>
                                <button class='button button-S bg-blue mr-15 bor-rb' id='close' @click="ws_close()">
                                    关闭 / ESC
                                </button>
                                <button class='button button-S bg-blue mr-15 bor-rb' id='send' @click="ws_send()">
                                    发送 / Enter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <!-- <script src="../js/all.js" async='true'></script> -->
    <script>
        var CreateWebSocket = (function () {
            return function (urlValue) {
                if (window.WebSocket) return new WebSocket(urlValue);
                if (window.MozWebSocket) return new MozWebSocket(urlValue);
                return false;
            }
        })();
        var webSocket = null;
        let app = new Vue({
            el: '#app',
            data: {
                searchValue: '',
                dialogFormVisible: false,
                send_msg: '',
                formLabelWidth: '140px',
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                chat_friend: {
                    uname: '默认用户',
                    uid: 0,
                },
                chat_user: {
                    uname: '默认用户',
                    uid: 0,
                },
                friends_list: [],
                chat_record: {},
                left_record: 'left_record',
                right_record: 'right_record',
                searchList: [],
            },
            created: function () {
                /* 实例化 WebSocket 连接对象, 地址为 ws 协议 */
                /*    webSocket.send(JSON.stringify({
                       type: 'getList'
                   })); */
            },
            mounted: function () {
                webSocket = CreateWebSocket("ws://localhost");
                this.$prompt('只允许字母和汉字', '请填写您的昵称', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    center: true,
                    inputPattern: /^[a-zA-Z\u4e00-\u9fa5]+$/
                }).then((value) => {
                    this.chat_user.uname = value.value;
                    this.chat_user.uid = this.friends_list[this.friends_list.length-1].uid+1;
                    this.ws_login();
                }).catch((err) => {
                    this.chat_user.uname = '未填写昵称';
                    this.chat_user.uid =this.friends_list[this.friends_list.length-1].uid+1;
                    this.$message({
                        type: 'info',
                        message: `已自动为您分配ID,您的ID为${this.chat_user.uid}`
                    });
                    this.ws_login();
                });
            },
            updated() {

            },
            methods: {
                setUserList: function (userList) {
                    this.friends_list = userList;
                    this.$forceUpdate();
                },
                ws_login: function () {
                    webSocket.send(JSON.stringify({
                        uid: this.chat_user.uid,
                        uname: this.chat_user.uname,
                        type: 'login'
                    }));
                },
                ws_send: function () {
                    /* 发送消息 */
                    let odate = new Date();
                    send_time = odate.toLocaleString();
                    let alldata = JSON.stringify({
                        user: this.chat_user,
                        receiver: this.chat_friend,
                        send_msg: this.send_msg,
                        send_time,
                        type: 'chat'
                    });
                    if (!this.chat_record.hasOwnProperty(this.chat_friend.uid)) this.chat_record[this
                        .chat_friend.uid] = [];
                    if (this.chat_friend.uid != this.chat_user.uid) {
                        this.$set(this.chat_record[this.chat_friend.uid], this.chat_record[this.chat_friend
                            .uid].length, {
                            send_time,
                            msg: this.send_msg,
                            ...this.chat_user
                        });
                    }
                    webSocket.send(alldata);
                    this.send_msg = '';
                    this.$forceUpdate();
                    this.$nextTick(function () {
                        var top = $('#recordList')[0].scrollHeight + 20;
                        $('#recordList').scrollTop(top);
                    })
                },
                rceiverMsg: function (data) {
                    let {
                        send_time,
                        msg,
                        uname,
                        uid,
                    } = {
                        ...data
                    };
                    let id = uid + '';
                    if (!this.chat_record.hasOwnProperty(id)) this.chat_record[id] = [];
                    this.$set(this.chat_record[id], this.chat_record[id].length, {
                        send_time,
                        msg,
                        uname,
                        uid,
                    });
                    if(this.chat_friend.uid!=uid){
                        this.setUnreadNum(uid);
                    }
                    this.$forceUpdate();
                    this.$nextTick(function () {
                        var top = $('#recordList')[0].scrollHeight + 20;
                        $('#recordList').scrollTop(top);
                    })
                },
                setUnreadNum:function(uid){
                    this.friends_list.forEach((f,index) => {
                        if(f.uid==uid){
                            console.log(this.friends_list[index]);
                            if(!this.friends_list[index].hasOwnProperty("unread")){
                                this.$set(this.friends_list[index],"unread", 0);
                            }
                            this.friends_list[index]["unread"]++;
                        }
                    });
                },
                changeReceiver: function (receiver) {
                    this.chat_friend = receiver;
                    this.searchValue = '';
                    this.searchList = [];
                },
                changeuser: function (msg) {
                    /* 切换用户 */
                    console.log(msg)
                },
                ws_close: function () {
                    $('.chat-box').addClass('animate__zoomOut');
                },
                searchFriend: function () {
                    this.searchList = this.friends_list.filter(ele => {
                        let id = ele.uid + '';
                        let res = (ele.uname.indexOf(this.searchValue) != -1 || id.indexOf(this
                            .searchValue) == 0) && this.searchValue.trim().length > 0;
                        return res;
                    });
                },
            },
            computed: {
                searchListShow: function () {
                    return this.searchList.length > 0;
                }
            },
            watch: {
                chat_friend:function(){
                    this.friends_list.forEach((f,index)=>{
                        if(f.uid==this.chat_friend.uid){
                            this.$set(this.friends_list[index],'unread', 0);
                        }
                    })
                }
            },
        })
        /* 接收到服务端的消息时 */
        webSocket.onmessage = function (msg) {
            var d = JSON.parse(msg.data);
            if (d.type == "tip") {
                app.$message.closeAll();
                app.$message({
                    message: d.msg,
                    type: d.status ? 'success' : 'warning'
                });
            }
            if (d.type == "getUser") {
                app.setUserList(d.alluser);
            }
            if (d.type == "msg") {
                app.$notify.closeAll();
                app.$notify({
                    title: "您有来自" + d.uname + "的新消息",
                    dangerouslyUseHTMLString: true,
                    message: `<p class='layout' style='width: 260px;'>${d.msg}</p><span class='layout cx-fex-r t-r t-12 t-green'>${d.send_time}</span>`,
                    type: 'success',
                    onClick: function () {
                        let {
                            uname,
                            uid,
                        } = {
                            ...d
                        };
                        app.changeReceiver({
                            uname,
                            uid,
                        });
                        this.close();
                    }
                });
                app.rceiverMsg(d);
            }
        };
        /* 关闭消息 */
        /*        document.getElementById("close").addEventListener("click", function () {
                   webSocket.close();
               }); */
        $('.hamburger').click(function () {
            $(this).toggleClass("active");
        })
        $('.leftbar li').click(function () {
            let type = $(this).data('type');
            if (type == 'friends') {
                $('.chat-box').removeClass('animate__zoomOut').addClass('animate__zoomIn');
            }
        })
    </script>

</body>

</html>