*,
:before,
:after {
  box-sizing: border-box;
}
body {
	color: #666;
	background: #f1fcfb;
}

.title {
	margin: .5em 0 1.25em;
}

.title,
.desc {
text-align: center;
}

.desc {
font-size: .5em;
}

.grid {
	text-align: center;
	border-top: 1px solid #E5EFEE;
}

.grid-cell {
	border: 1px solid #E5EFEE;
	border-width: 0 1px 1px 0;
	padding: 1em 2.5%;
}
@media only screen and (min-width: 1024px) {
	.grid-cell {
		float: left;
		width: 33.33333%;
		padding: 2.5em 1.66666%;
	}

	.grid-cell:nth-child(3n) {
		border-right-width: 0;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.grid-cell {
		width: 50%;
		float: left;
		padding: 1.75em 1.5%;
	}

	.grid-cell:nth-child(3n) {
		border-right-width: 1px;
	}

	.grid-cell:nth-child(2n) {
		border-right-width: 0;
	}
}
.hamburger {
  font-size: 2rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;

  cursor: pointer;

  transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;

  vertical-align: middle;

  border: 0 none;
  background: transparent;
}

/**
 * Button height fix for Firefox
 */
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/**
 * Focus fix for Chrome
 */
.hamburger:focus {
  outline: 0;
}

/**
 * Styling the icon
 */
.hamburger:before,
.hamburger:after {
  content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;

  width: 100%;
  height: .2em;
  margin: 0 0 .2em;

  transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;

  border-radius: .05em;
  -moz-border-radius: .05em;
  -webkit-border-radius: .05em;

  background: #596c7d;
}

/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: #2c3e50;
}

/**
 * VERTICAL HAMBURGER
 */
.hamburger.hamburger-vertical.active {
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

/**
 * CLOSE/CANCEL/CROSS
 */
.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}

.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
  -moz-transform: translateY(.4em) rotate(135deg);
  -webkit-transform: translateY(.4em) rotate(135deg);
}

.hamburger.hamburger-cancel.active:after {
  transform: translateY(-.4em) rotate(-135deg);
  -moz-transform: translateY(-.4em) rotate(-135deg);
  -webkit-transform: translateY(-.4em) rotate(-135deg);
}

/**
 * PLUS
 */
.hamburger.hamburger-plus.active .icon {
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}

.hamburger.hamburger-plus.active:before {
  transform: translateY(.4em) rotate(90deg);
  -moz-transform: translateY(.4em) rotate(90deg);
  -webkit-transform: translateY(.4em) rotate(90deg);
}

.hamburger.hamburger-plus.active:after {
  transform: translateY(-.4em) rotate(180deg);
  -moz-transform: translateY(-.4em) rotate(180deg);
  -webkit-transform: translateY(-.4em) rotate(180deg);
}

/**
 * MINUS/DASH
 */
.hamburger.hamburger-minus.active {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.hamburger.hamburger-minus.active .icon {
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}

.hamburger.hamburger-minus.active:before {
  transform: translateY(.4em);
  -moz-transform: translateY(.4em);
  -webkit-transform: translateY(.4em);
}

.hamburger.hamburger-minus.active:after {
  transform: translateY(-.4em);
  -moz-transform: translateY(-.4em);
  -webkit-transform: translateY(-.4em);
}

/**
 * LEFT ARROW
 */
.hamburger.hamburger-arrow-left.active {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.hamburger.hamburger-arrow-left.active:before {
  width: .6em;
  transform: translateX(.4em) translateY(.2em) rotate(45deg);
  -moz-transform: translateX(.4em) translateY(.2em) rotate(45deg);
  -webkit-transform: translateX(.4em) translateY(.2em) rotate(45deg);
}

.hamburger.hamburger-arrow-left.active .icon {
  border-radius: .1em .25em .25em .1em;
  -moz-border-radius: .1em .25em .25em .1em;
  -webkit-border-radius: .1em .25em .25em .1em;
}

.hamburger.hamburger-arrow-left.active:after {
  width: .6em;
  transform: translateX(.4em) translateY(-.2em) rotate(-45deg);
  -moz-transform: translateX(.4em) translateY(-.2em) rotate(-45deg);
  -webkit-transform: translateX(.4em) translateY(-.2em) rotate(-45deg);
}

/**
 * RIGHT ARROW
 */
.hamburger.hamburger-arrow-right.active {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.hamburger.hamburger-arrow-right.active:before {
  width: .6em;
  transform: translateX(0) translateY(.2em) rotate(-45deg);
  -moz-transform: translateX(0) translateY(.2em) rotate(-45deg);
  -webkit-transform: translateX(0) translateY(.2em) rotate(-45deg);
}

.hamburger.hamburger-arrow-right.active .icon {
  border-radius: .25em .1em .1em .25em;
  -moz-border-radius: .25em .1em .1em .25em;
  -webkit-border-radius: .25em .1em .1em .25em;
}

.hamburger.hamburger-arrow-right.active:after {
  width: .6em;
  transform: translateX(0) translateY(-.2em) rotate(45deg);
  -moz-transform: translateX(0) translateY(-.2em) rotate(45deg);
  -webkit-transform: translateX(0) translateY(-.2em) rotate(45deg);
}